deap==1.4.1
keras_tuner==1.4.5
matplotlib==3.8.0
numpy==1.26.4
pandas==2.2.0
PyYAML==6.0.1
PyYAML==6.0.1
scikit_learn==1.3.2
scikit_optimize==0.9.0
seaborn==0.13.2
tensorflow==2.10.0
git+https://github.com/mariolpantunes/exectimeit@main#egg=exectimeit